*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li,
menu{
    list-style: none
}
img{
    max-width: 100%;
}
/* debug */
.debug .main-header{
    border: 2px solid lightblue;
}
.debug .nav{
    border: 2px dashed gold;
}
.debug .nav *{
    padding: 20px;
    border: 2px dashed #000;
}
.debug .section{
    border: 2px solid blue;
}
.debug .section .container{
    padding: 20px;
    min-height: 400px;
    border: 2px solid pink;
}
.debug .section .container .content{
    padding: 20px;
    min-height: 400px;
    border: 2px solid green;
}
.debug .section .container .container-content{
    padding: 20px;
    min-height: 500px;
    border: 2px solid red;
}
.debug .section .container .container-content *{
    height: 500px;
    border: 2px dashed gold;
}
.debug .section .container .container-content .w-max{
    height: 900px;
    border: 2px dashed green;
}
.debug .footer{
    border: 2px solid gold;
}
.debug .footer .container{
    padding: 10px;
    border: 2px solid pink;
}
.debug .footer .container .container-content{
    border: 2px solid white;
}
.debug .footer .container .credit-footer{
    padding: 10px;
}
.debug .footer .container .menu-footer *{
    min-height: 300px;
    border: 2px solid red;
}
.debug .footer .container .credit-footer *{
    padding: 20px;
    border: 2px solid pink;
}
/* End debug */
.main-header{
    padding: 10px;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
.nav-item.logo,
.nav-item.cta{
    flex-basis: calc(100% / 4);
}
.nav-item.list{
    flex-grow: 1;
}
.section{
    padding: 40px 0;
}
.content{
    margin: 0 auto;
    max-width: 800px;
}
.container-content{
    display: flex;
}
.row-reverse{
    flex-direction: row-reverse;
}
.main-content{
    flex-basis: 60%;
}
.side-content{
    flex-basis: 40%; 
}
.w-max{
    width: 100%;
}
.footer{
    padding: 20px;
    background-color: #222;
}
.container-content{
    display: flex;
    flex-direction: row;
} 
.menu-footer{
    padding: 10px 10px 30px;
}
.large-content{
    flex-basis: calc(100% / 3);
}
.small-content{
    flex-basis: calc(100% / 6);
}
.credit-footer{
    align-items: center;
    justify-content: space-between;
}
